th {
    color:brown;
    text-decoration: underline;
}
#releasedate{
    border: 3px red dashed;
}
ul {
    font-style: italic;
}
#fontface{
    font-family: monospace;
    font-weight: bold;
    font-size: larger;
}
td {
    font-style: italic;
}
tr:nth-child(even) {
    background: red;
}
.img-circle{
    border-radius: 50%
}
img{
    text-align: center;
}